$brand-black: #222222
$brand-white: #f0f0f0
$brand-accent: #8e44ad

html, body
	background-color: $brand-white
	font-family: Helvetica

h1, h2, h3, h4
	font-family: Inconsolata
	
a
	color: $brand-accent
	&:hover
		text-decoration: none
	&:focus
		text-decoration: none

@import panel-main
@import brand-hr