doctype html
html
	head
		title Hannan Development
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='../css/styles.css')
		script(src='https://code.jquery.com/jquery-2.2.0.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
	body
		.container
			h1
				| Alex Hannan 
				small web development
			hr.brand-hr
			br
			block content