extends layout

block content			
	.row
		.col-sm-12.col-md-10.col-md-offset-1
			.panel.panel-main
				.panel-heading
					h3
						| Projects
				.panel-body
					.row
						.col-xs-12.col-sm-4
							ul.flip-text
								li
									a(href='https://goalie-app.herokuapp.com/', target='_blank') Goalie
								li
									a(href='https://salty-garden-95573.herokuapp.com/', target='_blank') Clone of Simon Says
								li
									a(href='http://www.alcoholismhurtskids.com', target='_blank') Alcoholism Hurts Kids
								li
									a(href='http://codepen.io/dasbuuten/pen/yYzzgw', target='_blank') Tic-Tac-Toe
								li
									a(href='http://codepen.io/dasbuuten/pen/rOwzOo', target='_blank') Wikipedia Search
								li
									a(href='http://codepen.io/dasbuuten/pen/xwrxZJ', target='_blank') JS Calculator
								li
									a(href='http://codepen.io/dasbuuten/pen/jbBLbX', target='_blank') FCC Camper News
								li
									a(href='http://codepen.io/dasbuuten/pen/YyZXMK', target='_blank') FCC Twitch Tracker
								li
									a(href='http://codepen.io/dasbuuten/pen/KddPMP', target='_blank') Local Weather
								li
									a(href='http://codepen.io/dasbuuten/pen/Xmmyba', target='_blank') Pomodoro Clock
								li
									a(href='http://codepen.io/dasbuuten/pen/adLora', target='_blank') Kaleidoscope QuoteGen
								li
									a(href='http://codepen.io/dasbuuten/pen/rxzgQJ', target='_blank') Password Generator
						.col-xs-12.col-sm-7.col-sm-offset-1.bordered-well.text-justiy
							p
								| Hi! My name is Alex Hannan, and I'm a self-taught front end developer. This website houses some of my projects. Please have a look around!
							p
								| I have a contact form down below if you would like to get in touch. Or, even better, here's my email: 
								a(href='alexjhannan@gmail.com') alexjhannan@gmail.com
								| . I'm always interested in a chat.
	.row
		.col-sm-12.col-md-10.col-md-offset-1
			.panel.panel-main
				.panel-heading
					h3
						| Profiles
				.panel-body
					.row
						.col-xs-12.col-sm-3.col-sm-offset-1
							ul.flip-text
								li
									a(href='https://github.com/alexjhannan') GitHub
								li
									a(href='http://freecodecamp.com/dasbuuten') FreeCodeCamp
								li
									a(href='https://www.codeeval.com/profile/dasbuuten/') CodeEval
								li
									a(href='http://www.codewars.com/users/dasbuuten') CodeWars
								li
									a(href='http://jsfiddle.net/user/dasbuuten/fiddles/') jsFiddle
						.col-xs-12.col-sm-7.col-sm-offset-1.bordered-well.text-justify
							p
								| Profiles on other sites for easy navigation, should you like to see more of my code.
	.row
		.col-sm-12.col-md-10.col-md-offset-1
			.panel.panel-main
				.panel-heading
					h3
						| Contact
				.panel-body
					.row
						.col-xs-10.col-xs-offset-1.bordered-well.text-justify
							.row
								.col-xs-12.col-sm-10.col-sm-offset-1
									form#contact-form(action='/contactform', method='post')
										.input-group
											span.input-group-addon
												| topic
											input.form-control(type='text', name='subject', minlength='2', required)
										.input-group
											span.input-group-addon
												| msg
											textarea.form-control(name='message', minlength='2', required)
										.input-group
											span.input-group-addon
												| name
											input.form-control(type='text', name='author', minlength='2', required)
										.input-group
											span.input-group-addon
												| email
											input.form-control(type='email', name='subject', minlength='2', required)
										.text-center
											button.btn(type="submit") send
	script(src='js/flip-text.js')
	script(src='js/size-contact-form.js')