extends layout

block content
	.big-button.text-center
		a(href="/resume") 
			button.btn View My Resume
	// prevents panels from collapsing into buttons
	.row
		.col-sm-12.col-md-10.col-md-offset-1
			.panel.panel-main
				.panel-heading
					h3
						| Project Topics
				.panel-body
					.row
						.col-xs-12.col-sm-4
							ul.flip-text
								li
									a(href='vimeo-channel-surfer.herokuapp.com', target='_blnak') React + Vimeo API
								li
									a(href='https://goalie-app.herokuapp.com/', target='_blank') AngularJS + Routing
								li
									a(href='https://salty-garden-95573.herokuapp.com/', target='_blank') Object Oriented Programming
								li
									a(href='http://www.alcoholismhurtskids.com', target='_blank') Designing for a Client
								li
									a(href='http://codepen.io/dasbuuten/pen/yYzzgw', target='_blank') Building an AI Algorithm
								li
									a(href='http://codepen.io/dasbuuten/pen/rOwzOo', target='_blank') Using Wikipedia's API
								li
									a(href='http://codepen.io/dasbuuten/pen/xwrxZJ', target='_blank') Endlessly Chaining User Inputs
								li
									a(href='http://codepen.io/dasbuuten/pen/jbBLbX', target='_blank') Showcasing an Array of Data
								li
									a(href='http://codepen.io/dasbuuten/pen/YyZXMK', target='_blank') Using Twitch's API
								li
									a(href='http://codepen.io/dasbuuten/pen/KddPMP', target='_blank') Styling Based on Data
								li
									a(href='http://codepen.io/dasbuuten/pen/Xmmyba', target='_blank') Accurate Time Tracking
								li
									a(href='http://codepen.io/dasbuuten/pen/adLora', target='_blank') Fun with RNG
								li
									a(href='http://codepen.io/dasbuuten/pen/rxzgQJ', target='_blank') Key Generation
						.col-xs-12.col-sm-7.col-sm-offset-1.bordered-well.text-justiy
							p
								| Hi! My name is Alex Hannan, and I'm a self-taught front end developer. This website houses some of my projects. I am actively looking for opportunities, so if you're in the market for a junior front end developer, please have a look around!
							p
								| If you're wondering who I am, well, so am I. My background is both eclectic and intensive. I have a B.S. in Physics from Temple University, which included a great deal of hardcore mathematics and scientific rigor. That knowledge played into my ability to teach and communicate, which was tested heavily during my time as a private high school teacher. To bring in the randomness, my non-coding interests include psychology (the family business), philosophy (particularly the paradigmatic, Kuhnian stuff), martial arts (Muay Thai, BJJ), music (guitar, harp, vox, piano; self-taught), and video games (of many shapes and sizes).
							p
								| I have a contact form down below if you would like to get in touch. Or, even better, here's my email: 
								a(href='mailto:alexjhannan@gmail.com') alexjhannan@gmail.com
								| . I'm always interested in a chat!
	.row
		.col-sm-12.col-md-10.col-md-offset-1
			.panel.panel-main
				.panel-heading
					h3
						| Profiles
				.panel-body
					.row
						.col-xs-12.col-sm-3.col-sm-offset-1
							ul.flip-text
								li
									a(href='https://github.com/alexjhannan') GitHub
								li
									a(href='http://freecodecamp.com/dasbuuten') FreeCodeCamp
								li
									a(href='https://www.codeeval.com/profile/dasbuuten/') CodeEval
								li
									a(href='http://www.codewars.com/users/dasbuuten') CodeWars
								li
									a(href='http://jsfiddle.net/user/dasbuuten/fiddles/') jsFiddle
						.col-xs-12.col-sm-7.col-sm-offset-1.bordered-well.text-justify
							p
								| Profiles on other sites for easy navigation, should you like to see more of my code.
	.row
		.col-sm-12.col-md-10.col-md-offset-1
			.panel.panel-main
				.panel-heading
					h3
						| Contact
				.panel-body
					.row
						.col-xs-10.col-xs-offset-1.bordered-well.text-justify
							.row
								.col-xs-12.col-sm-10.col-sm-offset-1
									form#contact-form(action='/contactform', method='post')
										.input-group
											span.input-group-addon
												| topic
											input.form-control(type='text', name='subject', minlength='2', required)
										.input-group
											span.input-group-addon
												| msg
											textarea.form-control(name='message', minlength='2', required)
										.input-group
											span.input-group-addon
												| name
											input.form-control(type='text', name='author', minlength='2', required)
										.input-group
											span.input-group-addon
												| email
											input.form-control(type='email', name='subject', minlength='2', required)
										.text-center
											button.btn(type="submit") send
	script(src='js/flip-text.js')
	script(src='js/size-contact-form.js')